* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  color: theme("colors.fourth");
  background-color: theme("colors.solana_second");
}

body {
  background-image: linear-gradient(
    90deg,
    theme("colors.solana_first"),
    theme("colors.solana_second")
  );
  color: theme("colors.white");
  font-size: 16px;
  width: 100%;
  height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
}
